version: "3"
services:
  postgres:
    image: "postgres:12.8"
    user: postgres
    environment:
      POSTGRES_PASSWORD: ${PGPASSWORD}
  nginx:
    depends_on:
      - frontend
      - backend
    restart: always
    build:
      dockerfile: Dockerfile.stage
      context: ./nginx
    ports:
      - "3000:80"
  frontend:
    environment:
      - CHOKIDAR_USEPOLLING=true
    build:
      dockerfile: Dockerfile.stage
      context: ./frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app
    stdin_open: true
    tty: true
  backend:
    build:
      dockerfile: Dockerfile.stage
      context: "./backend"
    volumes:
      - /app/node_modules
      - ./backend:/app
    environment:
      - jwt_secret_key
      - AWSAccessKeyIdForS3
      - AWSSecretKeyForS3
      - API_PORT
      - PGUSER
      - PGDATABASE
      - PGHOST
      - PGPASSWORD
      - PGPORT
