version: "3"
services:
  postgres:
    image: "postgres:latest"
    user: postgres
    environment:
      POSTGRES_PASSWORD: ${PGPASSWORD}
  nginx:
    depends_on:
      - api
      - frontend
    restart: always
    build:
      dockerfile: Dockerfile.stage
      context: ./nginx
    ports:
      - "3000:80"
  api:
    build:
      dockerfile: Dockerfile.stage
      context: "./backend"
    volumes:
      - /app/node_modules
      - ./backend:/app
    environment:
      - PORT
      - kabu_plus_user
      - kabu_plus_password
      - jwt_secret_key
      - PGUSER
      - PGDATABASE
      - PGHOST
      - PGPASSWORD
      - PGPORT
      - AWSAccessKeyId
      - AWSSecretKey
  frontend:
    environment:
      - CHOKIDAR_USEPOLLING=true
    build:
      dockerfile: Dockerfile.stage
      context: ./frontend
    volumes:
      - /app/node_modules
      - ./frontend:/app
    stdin_open: true
    tty: true
