html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  height: 100%;
  margin: 0;

  body {
    height: 100vh;
    margin: 0;
    font-size: 1.6rem;
    background-color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    #root {
      height: 100%;
    }

    /*fundamental_Layout*/
    .grid-container {
      height: 100%;
      display: grid;
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
    }

    header {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
    }

    nav {
      width: 6rem;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    main {
      grid-column: 2 / 3;
      grid-row-start: 2 / 3;
      padding-bottom: 7rem;
    }

    footer {
      grid-column: 1 / 3;
      grid-row-start: 3 / 4;
    }

    /*tag_setting*/
    img {
      width: 100%;
      height: 100%;
      object-fit: "cover";
    }

    h2 {
      font-size: 1.5em;
      font-weight: bold;
    }

    fieldset {
      display: block;
      -webkit-margin-start: 2px;
      -webkit-margin-end: 2px;
      -webkit-padding-before: 0.35em;
      -webkit-padding-start: 0.75em;
      -webkit-padding-end: 0.75em;
      -webkit-padding-after: 0.625em;
      min-width: -webkit-min-content;
      border-width: 2px;
      border-style: groove;
      border-color: threedface;
      border-image: initial;
    }

    legend {
      display: block;
      -webkit-padding-start: 2px;
      -webkit-padding-end: 2px;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
    }

    textarea {
      resize: vertical;
    }

    input {
      background-color: #fff;
    }
  }
}
