html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
  #root {
    height: 100%;
  }
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  background-color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*fundamental_Layout*/
.grid-container {
  display: grid;
  grid-template-columns: 7rem 1fr;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100%;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

main {
  grid-column: 2 / 3;
  grid-row-start: 2 / 3;
}

footer {
  grid-column: 1 / 3;
  grid-row-start: 3 / 4;
}

/*module_class*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-between;
}

.top {
  align-items: flex-start;
}

.col_2 {
  flex: 1 1 60%;
}

.col_1 {
  flex: 1 1 30%;
}

/*tag_setting*/
img {
  width: 100%;
  height: 100%;
  object-fit: "cover";
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}