html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  background-color: #fafafa;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/*fundamental_Layout*/
.grid-container {
  display: grid;
  grid-template-columns: 7rem 1fr;
  grid-template-rows: 5rem 1fr 3rem;
  height: 100%;
}

header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

nav {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

main {
  padding: 1rem;
  grid-column: 2 / 3;
  grid-row-start: 2 / 3;
}

footer {

  grid-column: 1 / 3;
  grid-row-start: 3 / 4;
}

/*tag_setting*/

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
  object-fit: "cover";
}

/*module_class*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.center {
  justify-content: center;
}

.top {
  align-items: flex-start;
}

.col_2 {
  flex: 1 1 60%;
}

.col_1 {
  flex: 1 1 30%;
}
