
@mixin row($option1, $option2) {
  display: flex;
  flex-wrap: wrap;
  align-items: $option1;
  justify-content: $option2;
}

@mixin col($base_width) {
  flex: 1 1 $base_width;
}

@mixin place_center {
  display: grid;
  place-items: center;
}
