@mixin row($option1, $option2) {
  display: flex;
  flex-wrap: wrap;
  align-items: $option1;
  justify-content: $option2;
}

@mixin col($base_width) {
  flex: 1 1 $base_width;
}

@mixin place_center {
  display: grid;
  place-items: center;
}

@mixin indicator_card($back_color, $color) {
  border-radius: 0.5rem;
  width: 17rem;
  height: 10rem;
  background-color: white;
  border: 0.1rem solid $back_color;

  .card_value {
    height: 60%;
    font-size: 3rem;
    color: $color;
    background-color: $back_color;
    @include place_center();
  }

  .card_title {
    height: 40%;
    font-size: 1.5rem;
    color: #337ab7;
    background-color: F5F5F5;
    @include place_center();

    .span {
      font-size: 0.5rem;
    }
  }
}

@mixin gradation_background {
  background: linear-gradient(58deg, #5975e8, #59e89d);
  background-size: 400% 400%;
  height: 100%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 84%;
    }
    50% {
      background-position: 100% 17%;
    }
    100% {
      background-position: 0% 84%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 84%;
    }
    50% {
      background-position: 100% 17%;
    }
    100% {
      background-position: 0% 84%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 84%;
    }
    50% {
      background-position: 100% 17%;
    }
    100% {
      background-position: 0% 84%;
    }
  }
}
