version: 2.1
orbs:
  node: circleci/node@4.7.0
  aws-ecr: circleci/aws-ecr@6.15.0
jobs:
  test:
    executor:
      name: node/default
      tag: 14.17.6
    steps:
    - checkout
    - node/install-packages:
        pkg-manager: npm
    - run:
        command: npm test
        name: Run Mocha tests
    - store_artifacts:
        path: /tmp/test-results
        destination: raw-test-output
    - store_test_results:
        path: /tmp/test-results
workflows:
  node-tests:
    jobs:
      - test
      - aws-ecr/build-and-push-image:
          repo: traweather
          tag: "frontend_container"
          path: 'frontend/'
          requires:
            - test
      - aws-ecr/build-and-push-image:
          repo: traweather
          tag: "backend_container"
          path: 'backend/'
          requires:
            - test