version: 2.1
orbs:
  node: circleci/node@4.7.0
  aws-ecr: circleci/aws-ecr@6.15.0
  aws-ecs: circleci/aws-ecs@2.2.1
jobs:
  test:
    executor:
      name: node/default
      tag: 14.17.6
    steps:
    - checkout
    - node/install-packages:
        pkg-manager: npm
    - run:
        command: npm test
        name: Run Mocha tests
    - store_artifacts:
        path: /tmp/test-results
        destination: raw-test-output
    - store_test_results:
        path: /tmp/test-results
workflows:
  node-tests:
    jobs:
      - test
      - aws-ecr/build-and-push-image:
          requires:
            - test
          region: AWS_REGION
          account-url: AWS_ECR_ACCOUNT_URL
          repo: traweather
          tag: "proxy-${CIRCLE_SHA1}"
          path: 'nginx/'
      - aws-ecr/build-and-push-image:
          requires:
            - test
          region: AWS_REGION
          account-url: AWS_ECR_ACCOUNT_URL
          repo: traweather
          tag: "frontend-${CIRCLE_SHA1}"
          path: 'frontend/'
      - aws-ecr/build-and-push-image:
          requires:
            - test
          region: AWS_REGION
          account-url: AWS_ECR_ACCOUNT_URL
          repo: traweather
          tag: "backend-${CIRCLE_SHA1}"
          path: 'backend/'
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          aws-region: AWS_DEFAULT_REGION
          family: 'traweather-task'
          cluster-name: 'traweather-cluster'
          service-name: 'traweather-service'
          container-image-name-updates: 'container=proxy-container,tag=proxy-${CIRCLE_SHA1}'
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          aws-region: AWS_DEFAULT_REGION
          family: 'traweather-task'
          cluster-name: 'traweather-cluster'
          service-name: 'traweather-service'
          container-image-name-updates: 'container=frontend-container,tag=frontend-${CIRCLE_SHA1}'
      - aws-ecs/deploy-service-update:
          requires:
            - aws-ecr/build-and-push-image
          aws-region: AWS_DEFAULT_REGION
          family: 'traweather-task'
          cluster-name: 'traweather-cluster'
          service-name: 'traweather-service'
          container-image-name-updates: 'container=backend-container,tag=backend-${CIRCLE_SHA1}'