@import '../variables.scss';

.entrance {
  width: 100%;
  height: 100vh;
  .main_container {
    @include gradation_background();
    @include row(center, center);
    .message {
      @include row(center, center);
      color: #fff;
      font-size: 7rem;
      p {
        font-size: 2.5rem;
        font-style: italic;
        text-align: center;
        width: 100%;
      }
      .button_container {
        @include row(center, center);
        margin: 2rem 1rem;
        .button {
          @include place_center();
          width: 30rem;
          color: #fff;
          font-size: 2rem;
          font-weight: bold;
          height: 4rem;
          border-radius: 0.5rem;
          background-color: #ee6272;
          box-shadow: 0 0 0.5rem #b4b4b4;
        }
      }
    }
  }
  .explanation_container {
    .feature_list_container {
      padding: 3rem;
      background-color: #fafafa;
      h2,
      p {
        padding: 0.2rem;
        text-align: center;
      }
      .feature_cards {
        @include row(center, center);
        padding: 2rem;
        .card {
          background-color: #fff;
          box-shadow: 0 0 1rem #b4b4b4;
          border-radius: 0.3rem;
          width: 25rem;
          height: 20rem;
          padding: 1rem;
          margin: 2rem;
          i {
            font-size: 8rem;
            color: #6ae3a4;
            width: 100%;
            height: 70%;
            @include place_center();
          }
          p {
            padding: 0.2rem;
            font-size: large;
            text-align: center;
          }
        }
      }
    }
  }
  .user_review_container {
    padding: 5rem;
    background-color: #fafafa;
    @include row(center, center);
    .review {
      padding: 2rem;
      text-align: center;
      p {
        padding: 0.3rem;
      }
      .user_profile {
        img {
          padding: 2rem;
          width: 15rem;
          height: 100%;
          border-radius: 10rem;
        }
      }
    }
  }
  .feature_pickup_container {
    padding: 3rem;
    .title {
      text-align: center;
    }
    .pickup_body {
      padding: 5rem;
      @include row(flex-start, flex-start);
      .text {
        h2,
        p {
          padding: 0.5rem;
        }
        width: 50%;
      }
      img {
        padding: 3rem;
        width: 50%;
      }
    }
  }
}
