@import "../variables.scss";

.entrance {
  @include row();
  @include center();
  height: 100%;
  width: 100%;

  background: linear-gradient(58deg, #5975e8, #59e89d);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;

  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0% 84%;
    }
    50% {
      background-position: 100% 17%;
    }
    100% {
      background-position: 0% 84%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0% 84%;
    }
    50% {
      background-position: 100% 17%;
    }
    100% {
      background-position: 0% 84%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 84%;
    }
    50% {
      background-position: 100% 17%;
    }
    100% {
      background-position: 0% 84%;
    }
  }

  .form_container {
    width:50%;
    .message {
      @include row();
      @include center();
      color: #fff;
      font-size: 7rem;
      p{
        font-size: 2.5rem;
        font-style: italic;
      }
    }
  }
}
