@import "../variables.scss";

.plan_page {
  margin: 1rem;
  .dashboard {
    @include row();
    @include top();

    .left {
      margin: 1rem;
      > * {
        margin-bottom: 2rem;
      }

      .menu_button {
        padding: 0 1rem;
        @include row();
        li {
          @include hover();
        }
      }
      @include col(60%);
    }
    .right {
      margin: 1rem;
      > * {
        margin-bottom: 2rem;
      }
      @include col(30%);
    }
  }
}
