@import "../variables.scss";

.plan_page {
  margin: 1rem;
  .dashboard {
    @include row();
    @include top();

    .left {
      margin: 1rem;
      > * {
        margin-bottom: 2rem;
      }
      @include col_2(60%);
    }
    .right {
      margin: 1rem;
      > * {
        margin-bottom: 2rem;
      }
      @include col_1(30%);
    }
  }
}
