@import "../variables.scss";

.plan_page {
  .header_menu {
    @include row(center, flex-start);
    background-color: #8b8b8b;
    color: #fff;
    box-shadow: 0 0.2rem 0.2rem #b4b4b4;
    li {
      padding: 1rem 2rem;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        background-color: rgba(255, 255, 255, 0.3);
        transition: background-color 0.1s;
      }
      i {
        padding: 0 0.5rem;
      }
    }
  }
  .main {
    > * {
      margin: 2rem;
    }
    .dashboard {
      > * {
        margin: 1rem;
      }
      .dashboard_row1 {
        @include row(flex-start, flex-start);
        .left_col {
          @include col(60%);
          > * {
            margin: 2rem;
          }
        }
        .right_col {
          @include col(30%);
          > * {
            margin: 2rem;
          }
        }
      }
      .dashboard_row2 {
         @include row(flex-start, flex-start);
         margin: 0 3rem;
      }
    }
  }
}
