@import "../variables.scss";

.reflection_page {
  width: 100%;
  height: 100%;
  .reflection_container {
    @include row(center, flex-start);
    padding: 3rem;
    .post {
      max-width: 25rem;
      max-height: 20rem;
      margin: 2rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.2rem 0.2rem #b4b4b4;
      background-color: #ffffff;
      .post_header {
        padding: 0.5rem;
        h2 {
          padding: 0.5rem 0;
        }
      }
      .image_container {
        width: 100%;
        height: 100%;
        @include place_center();
      }
    }
  }
  .description_container {
    padding: 3rem;
    width: 100%;
    height: 100%;

    i {
      margin: 1rem;
      color: #7a7878;
    }

    .indicators {
      @include row(flex-start, flex-start);
      width: 100%;
      > * {
        margin: 1rem 2rem;
      }
      .total_profit {
        @include indicator_card(#337ab7, #fff);
      }
      .profit_loss_rate {
        @include indicator_card(#dff0d8, #3c763d);
      }
    }

    .feed_back {
      padding: 1.5rem;
      height: 20rem;
      background-color: #fff;
      border-radius: 0.2rem;
      box-shadow: 0 0 0.3rem #b4b4b4;
      margin: 1.5rem;
      p {
        padding: 1rem 0;
      }
    }

    .result {
      @include row(flex-start, flex-start);
      margin: 1.5rem;
      > * {
        padding: 1rem;
      }
      .result_list {
        @include col(60%);
        table {
          font-size: 1.5rem;
          width: 100%;
          border-collapse: collapse;
          th,
          td {
            padding: 0.2rem 0.3rem;
            border: 0.1rem solid #ddd;
            text-align: center;
          }
          th {
            background-color: #8b8b8b;
            color: #fff;
          }
          tbody {
            tr {
              background-color: #fff;
              cursor: pointer;
              transition: 0.1s;
              &:hover {
                border: 0.2rem double rgb(245, 187, 111);
              }

              td {
                input {
                  cursor: pointer;
                  max-width: 5rem;
                  padding: 0;
                  margin: 0;
                  background-color: transparent;
                }
              }
            }
          }
        }

        .pagination_bttns {
          @include row(center, center);
          margin: 2rem 0;
          a {
            padding: 0.1rem 1rem;
            margin: 0.8rem;
            border-radius: 0.2rem;
            border: 0.1rem solid #8b8b8b;
            color: #8b8b8b;
            cursor: pointer;

            &:hover {
              color: white;
              background-color: #8b8b8b;
            }
          }
        }
        .pagination_active {
          a {
            color: white;
            background-color: #8b8b8b;
          }
        }

        .pagination_disabled {
          a {
            display: none;
          }
        }
      }

      .comment {
        @include col(20%);
        padding: 1.5rem;
        height: 20rem;
        background-color: #fff;
        border-radius: 0.2rem;
        box-shadow: 0 0 0.3rem #b4b4b4;
        margin-bottom: 2rem;
        p {
          padding: 1rem 0;
        }
      }
    }
    .market_prediction {
      @include row(center, flex-start);
      section {
        @include col(20%);
        padding: 1.5rem;
        margin: 1.5rem;
        background-color: #fff;
        border-radius: 0.2rem;
        height: 20rem;
        box-shadow: 0 0 0.3rem #b4b4b4;
        overflow-y: scroll;

        .content {
          padding: 1rem 0;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .result_list {
    table {
      font-size: 1rem;
      border-collapse: collapse;
      thead {
        display: none;
      }
      tbody {
        @include row(center, flex-start);
        width: 100%;
      }
      tr {
        width: 30%;
        display: block;
        padding: 1rem;
        td {
          position: relative;
          border-bottom: none;
          height: 2.5rem;
          display: block;
          text-align: right;
          line-height: 1.5rem;
          padding: 0.5rem 1rem 0 0;

          &:before {
            content: attr(data-label);
            position: absolute;
            left: 0;
            padding-left: 1rem;
            font-size: 1rem;
            font-weight: bold;
          }
        }
        #submit {
          text-align: center;
        }
      }
    }
  }
}
