@import "../variables.scss";

.top_page {
  padding: 2rem;
  .menu_list {
    margin-bottom: 1rem;
    li{
      cursor: pointer;
      @include hover();
    }
  }
  .dashboard_row2 {
    @include col(30%);
    @include row();
    @include top();
    .left {
      margin: 1rem;
      > * {
        margin-bottom: 1rem;
      }
    }
    .right {
      @include col(60%);
      margin: 1rem;
      > * {
        margin-bottom: 1rem;
      }
    }
  }
}
