html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

/*Layout*/
.grid-container {
    display: grid;
    grid-template-areas:
      "header"
      "main";
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    height: 100%;
  }

  header {
    grid-area: header;
    background-color: #1F6DA8;
  }

  main {
    grid-area:main;
    background-image: url(./images/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    filter: blur(0.2rem);
  }

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.center {
    justify-content: center;
}