html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
}

body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*Layout*/
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr;
  height: 100%;
}

header {
  grid-area: header;
  background-color: #1f6da8;
}

main {
  padding: 1rem;
  grid-area: main;
}

#root {
  height: 100%;
}
