/*-----------------common-------------------*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.center {
  justify-content: center;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*header*/
header > * {
  margin: 0;
  padding: 1rem;
  color: #fff;
}

.header {
  justify-content: space-between;
}
.left_menu > * {
  padding: 0 1rem;
}
.right_menu > * {
  padding: 0 1rem;
}

.logo{
  font-size:3rem;
  transform: rotate(30deg);
}

.logo_title {
  font-size: 3rem;
  color: #fff;
}

.catch_copy {
  font-size: 2rem;
}

/*footerr*/
footer p {
  color:#fff;
}


/*nav_bar*/
.nav_menu {
  justify-content: column;
  text-align: center;
}

.nav_menu i {
  padding: 2rem 0;
  font-size:3rem;
  color:#636363;
}

.nav_menu p {
  font-size:1.5rem;
}

.nav_menu a{
  color:#636363;
  text-decoration: none;
}

.nav_menu li{
  transition:0.5s;
}

.nav_menu li:hover{
  background-color:#000000;
  opacity:0.6;
  transition:background-color 0.5s;
}


/*-------------TopPage.js---------------*/

/*Indicator.js*/
.indicator {
  background-color: #fff;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 8rem;
  height: 4rem;
}

/*Loading.js*/
.Loading {
  color: #fff;
}

/*Message.js*/
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-error {
  color: #a02020;
  background-color: #ffe0e0e0;
}

/*LineChart.js*/

.index_chart {
  background-color: #fff;
  width: 50rem;
  height: 30rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.2rem;
}

/*LineChart.js*/
.strategy {
  background-color: #fff;
  width: 50rem;
  height: 30rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.2rem;
}

/*LineChart.js*/
.hot_sector {
  background-color: #fff;
  width: 50rem;
  height: 30rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.2rem;
}

/*NewsTopics.js*/
.news_topics {
  background-color: #fff;
  width: 50rem;
  height: 30rem;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.2rem;
}
