header > * {
  margin:0;
  padding:1rem;
  color: #fff
}

.logo {
  font-size: 3rem;
  color:#fff;
}

.catch_copy{
  font-size: 2rem;
}

//Indicator.js
.indicator{
  background-color: #fff;
  border-radius:1rem;
  margin:1rem;
  padding:1rem;
  width:8rem;
  height:4rem;
}