@import "../variables.scss";

.comparison_chart {
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem #b4b4b4;
  @include row(center,flex-start);
  .chart_container {
    @include col(50%);
  }
}
