@import "../variables.scss";

.footer {
  @include row();
  @include center();

  background-image: radial-gradient(
    circle farthest-corner at -4% -12.9%,
    #4a626e 0.3%,
    #1e2130 90.2%
  );
  padding: 1rem;
  box-shadow: 0rem 0rem 0.5rem #b4b4b4;
  color: #fff;
}
