@import "../variables.scss";

footer {
  background-image: radial-gradient(
    circle farthest-corner at -4% -12.9%,
    rgba(74, 98, 110, 1) 0.3%,
    rgba(30, 33, 48, 1) 90.2%
  );
  padding: 1rem;
  box-shadow: 0rem 0rem 0.5rem #b4b4b4;
  color: #fff;
}
