@import "../variables.scss";

header {
  padding: 1rem;
  color: #fff;
  box-shadow: 0 0 0.5rem #b4b4b4;
  background-image: linear-gradient(132.6deg, #478bd6 23.3%, #25d8d3 84.7%);

  .header {
    @include row();
    @include space_between();

    .left_menu > * {
      padding: 0 1rem;
    }

    .right_menu > * {
      font-size: 2rem;
      padding: 0 1rem;
    }

    .left_menu {
      @include row();
      .logo {
        font-size: 3rem;
        transform: rotate(30deg);
      }

      .logo_title {
        padding-left: 1rem;
        font-size: 3rem;
        color: #fff;
      }

      .catch_copy {
        font-size: 2rem;
      }
    }

    .right_menu {
      @include row();
    }
  }
}
