@import '../variables.scss';

.header_search_box {
  @include row(center, center);

  .search_container {
    width: 30rem;
    padding: 0 1.5rem;
    .search_inputs {
      @include row(center, flex-start);
      input {
        width: 90%;
        color: #8b8b8b;
        height: 3rem;
        box-shadow: 0rem 0 0.2rem #b4b4b4;
        background-color: white;
        border: 0;
        border-radius: 0.5rem;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-size: 1.5rem;
        padding: 0.8rem;
        &:focus {
          outline: none;
        }
      }

      .search_icon {
        width: 10%;
        height: 3rem;
        box-shadow: 0rem 0 0.2rem #b4b4b4;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: #8b8b8b;
        color: white;
        @include place_center();
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
  .data_result {
    position:fixed;
    z-index:10;
    font-size: 1rem;
    margin-top: 0.5rem;
    width: 30rem;
    height: 20rem;
    background-color: white;
    box-shadow: black 0 0.5rem 1.5rem;
    overflow: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      display: none;
    }
    .data_item {
      width: 100%;
      height: 5rem;
      display: flex;
      align-items: center;
      color: black;
      padding-left: 1rem;
      &:hover {
        background-color: lightgrey;
      }
    }
  }
}
