@import '../variables.scss';

header {
  color: #fff;
  box-shadow: 0 0 0.5rem #b4b4b4;
  background-image: linear-gradient(132.6deg, #478bd6 23.3%, #25d8d3 84.7%);

  .header {
    @include row(center, space-between);

    .left_menu {
      @include row(center, flex-start);
      > * {
        font-size: 2rem;
        padding: 1rem;
      }
      .logo {
        padding: 0 1.5rem;
        font-size: 3rem;
        transform: rotate(30deg);
        cursor: default;
      }

      .logo_title {
        font-size: 3rem;
        color: #fff;
        cursor: pointer;
      }
    }

    .right_menu {
      @include row(center, flex-start);
      ul {
        font-size: 2rem;
        height: 100%;
        @include row(center, flex-start);
        li {
          padding: 1.5rem;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: rgba(255, 255, 255, 0.6);
            transition: background-color 0.1s;
          }
        }
      }
    }
  }
}
