@import "../variables.scss";

.indicators_body {
  padding: 1rem 3rem;

  .profile {
    @include row(center, flex-start);
  }

  .stock_name {
    margin: 1rem 0;
  }

  .indicators {
    @include row(center, flex-start);
    > * {
      margin: 1.5rem;
    }

    #price {
      @include indicator_card(#337ab7, #fff);
    }

    #opening {
      @include indicator_card(#dff0d8, #3c763d);
    }

    #high {
      @include indicator_card(#fcf8e3, #8c6f3e);
    }

    #low {
      @include indicator_card(#f2dede, #a94442);
    }

    #previous_close {
      @include indicator_card(#e2dede, #333333);
    }

    #vwap {
      @include indicator_card(#d9edf7, #31708f);
    }

    #volume {
      @include indicator_card(#5bc0de, #fff);
    }

    #volume_percent {
      @include indicator_card(#f0d7ea, #cf7b7b);
    }

    #year_high {
      @include indicator_card(#e2d183, #fff);
    }

    #year_low {
      @include indicator_card(#a6ceda, #6a7ea1);
    }
  }
}
