@import "../variables.scss";

nav {
  background-color: #ffffff;
  box-shadow: 0.2rem 0 0.3rem #b4b4b4;

  .nav_bar {
    ul {
      justify-content: column;
      text-align: center;
    }

    i {
      padding: 2rem 0;
      font-size: 3rem;
      color: #8b8b8b;
    }

    p {
      font-size: 1.5rem;
    }

    a {
      color: #8b8b8b;
      text-decoration: none;
    }

    li {
      transition: 0.3s;
      &:hover {
        background-color: #fff;
        opacity: 0.3;
        transition: background-color 0.3s;
      }
    }
  }
}
