@import "../variables/variables.scss";

nav {
  background-color: #FFFFFF;
  box-shadow: 0.2rem 0 0.3rem #B4B4B4;
}

.nav_bar {

  ul {
    justify-content: column;
    text-align: center;
  }

  i {
    padding: 2rem 0;
    font-size: 3rem;
    color: $font_color;
  }

  p {
    font-size: 1.5rem;
  }

  a {
    color:$font_color;
    text-decoration: none;
  }

  li {
    transition: 0.3s;
  }

  li:hover {
    background-color: #fff;;
    opacity: 0.3;
    transition: background-color 0.3s;
  }
}
