
@import "../variables/variables.scss";

.nav_bar {
  ul {
    justify-content: column;
    text-align: center;
  }

  i{
    padding: 2rem 0;
    font-size:3rem;
    color:$gray;
  }

  p{
    font-size:1.5rem;
  }

  a{
    color:$gray;;
    text-decoration: none;
  }

  li {
    transition:0.5s;
  }

  li:hover {
    background-color:#000000;
    opacity:0.6;
    transition:background-color 0.5s;
  }
}
