@import "../variables.scss";

.plan_edit_page {
  @include row();
  @include center();

  .story_table_edit_form > fieldset {
    margin: 0.8rem 0;
  }

  .story_table_edit_form {
    margin: 0 0 1rem 0;
    width: 70%;
    background-color: #fff;
    padding: 1rem 1.5rem;
    border-radius: 0.2rem;
    box-shadow: 0 0 0.5rem #b4b4b4;

    .error {
      padding: 0 1rem;
      color: #a02020;
    }

    fieldset {
      border: #bdbdbd solid 0.01rem;
      width: 100%;

      legend {
        color: #7a7878;
      }
      //do not put 'input' in 'legend'
      textarea,
      input {
        display: block;
        width: 100%;
      }
    }
    .button {
      @include row();
      @include center();
      input {
        text-align: center;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        width: 30%;
        height: 3rem;
        border-radius: 2rem;
        background-color: #ee6272;
        box-shadow: 0 0 0.3rem #b4b4b4;
      }
    }
  }
}
