@import "../variables.scss";

.prediction {
  width: 100%;
  box-shadow: 0 0 0.2rem #b4b4b4;
  color: #fff;
  .prediction_container {
    @include row(center, space-evenly);
    border-radius: 0.2rem;
    background-color: #fff;
    section {
      @include col(30%);
      border-radius: 0.2rem;
      background-color: #b4b4b4;
      height: 100%;
      margin: 1rem;
      border: 0.1rem solid #b4b4b4;
      .title {
        padding: 1rem;
        span {
          padding-left: 1rem;
          font-size: 1.5rem;
        }
      }

      .content {
        height: 60%;
        padding: 1rem;
        textarea {
          cursor: pointer;
          resize: none;
          height: 10rem;
          width: 100%;
        }
      }

      .button {
        @include row(center, center);
        cursor: pointer;
        padding: 1rem;
        span {
          text-align: center;
          color: #b4b4b4;
          font-size: 2rem;
          font-weight: bold;
          width: 30%;
          height: 100%;
          padding: 0.5rem;
          border-radius: 0.2rem;
          background-color: #fff;
          box-shadow: 0 0 0.3rem #b4b4b4;
        }
      }
    }
  }
}
