@import "../variables.scss";

.prediction{

  .prediction_container{
  @include row();
  margin:0 1rem;
  height:25rem;
  border-radius:0.2rem;
  box-shadow: 0 0 0.3rem #b4b4b4;


  section {
    background-color:#fff;
    @include col(30%);
    height: 100%;

    &:nth-child(2) {
      border-right:0.1rem solid #b4b4b4 ;
      border-left:0.1rem solid #b4b4b4 ;
    }
    .title {
      padding:1rem;
      span{
        padding-left:1rem;
        font-size:1.5rem;
      }
    }

    .content {
      height: 60%;
      padding:1rem;
      textarea {
        resize: none;
        height: 100%;
        width: 100%;
      }
    }
    .button {
      @include row();
      @include center();
      span {
        @include place_center();
        padding:0.5rem;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        width: 30%;
        height: 100%;
        border-radius: 2rem;
        background-color: #ee6272;
        box-shadow: 0 0 0.3rem #b4b4b4;
      }
    }
  }
}
}
