@import "../variables.scss";

.register_form {
  @include row(center, flex-start);
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.5rem #b4b4b4;

  .login_bttn {
    padding: 1rem 0;
    cursor: pointer;
    color: rgba(71, 139, 214, 0.8);
    transition: 0.3s;
    &:hover {
      color: #7a7878;
      transition: color 0.3s;
    }
  }

  .each_input {
    width: 100%;
    padding: 0 2rem;
    input {
      width: 100%;
    }
    fieldset {
      border: #bdbdbd solid 0.01rem;
      width: 100%;
      margin: 1rem 0;
      legend {
        color: #7a7878;
      }
    }
    .error {
      font-size:1.5rem;
      margin: 0 1rem;
      color: #a02020;
    }
  }

  .button {
    @include row(center, center);
    width: 100%;
    margin: 1rem;
    input {
      text-align: center;
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      width: 50%;
      height: 4rem;
      border-radius: 2rem;
      background-color: #ee6272;
      box-shadow: 0 0 0.3rem #b4b4b4;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: rgb(71, 139, 214);
        transition: color 0.3s;
      }
    }
  }
}
