@import "../variables.scss";

.story_table {
  @include col_2();

  .menu_button {
    padding: 1rem 0;
    @include row();
    li {
      @include hover();
    }
  }
  table {
    font-size: 1.5rem;
    width: 100%;
    border-collapse: collapse;
    th,
    td {
      padding: 0.2rem 0.3rem;
      border: 0.1rem solid #ddd;
      text-align: center;
    }
    th {
      background-color: #8b8b8b;
      color: #fff;
    }
    tbody {
      tr {
        [data-label="opening"],
        [data-label="support"],
        [data-label="losscut"],
        [data-label="goal"] {
          @include hover();
        }
        td {
          background-color: #fff;
          input {
            max-width: 5rem;
            padding: 0;
            margin: 0;
          }
          i {
            opacity: 0.6;
            @include hover();
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  table {
    font-size: 1rem;
    border-collapse: collapse;
    thead {
      display: none;
    }
    tbody {
      @include row();
      width:100%;
    }
    tbody > tr {
      margin: 0 1rem 1rem 0;
    }
    tr {
      width:30%;
      display:block;
      td {
        border-bottom: none;
        height:3rem;
        display:block;
        position: relative;
        padding-left: 5rem;
        &::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          padding-left: 1rem;
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}
