@import "../variables.scss";

.story_chart {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem #b4b4b4;
  @include row(flex-start,flex-start);
  .chart_container {
    @include col(60%);
    padding-bottom: 2rem;
  }

  .indicators_table {
    padding: 0 2rem;
    color:#8B8B8B;
    @include col(30%);
    table {
      width:100%;
      tr {
        @include row(center,flex-start);
        width:100%;
        .date{
          width:100%;
          color:#8B8B8B;
          text-align: center;
          border:none;
          background-color:transparent;
          padding-bottom:0.5rem;
        }
        th{
          width:50%;
          padding: 0.2rem 0 0.2rem 0.5rem;
          border: 0.1rem #dfdcdc solid;
          background-color:#8B8B8B;
          color:#fff;

        }
        td {
          border: 0.1rem #dfdcdc solid;
          width:50%;
          padding: 0.2rem;
          text-align: right;

        }
      }
    }
  }
}
