@import "../variables.scss";

.story_table {
  @include col_2();
  padding: 2rem;

  .menu_button {
    padding: 1rem 0;
    @include row();
    li {
      @include hover();
    }
  }
  table {
    font-size: 1.5rem;
    width: 100%;
    box-shadow: 0 0 0.5rem #b4b4b4;
    border-collapse: collapse;
    th,
    td {
      padding: 1.2rem, 0.5rem;
      border: 0.1rem solid #ddd;
      text-align: center;
    }
    th {
      background-color: #8b8b8b;
      color: #fff;
    }
    tbody {
      tr{
        [data-label="opening"],
        [data-label="support"],
        [data-label="losscut"],
        [data-label="goal"]{
          @include hover();

        }
        td {
          background-color: #fff;
          input {
            max-width: 5rem;
            padding: 0;
            margin: 0;
          }
          i.fa-save{
            opacity:0.8;
            @include hover();
          }
        }
      }
    }
  }

  @media (max-width: 500px) {
    thead {
      display: none;
    }
    table,
    tbody,
    tr,
    td {
      display: block;
      width: 88%;
    }

    tr {
      margin-bottom: 1.5rem;
      td {
        text-align: right;
        padding-left: 50%;
        position: relative;
        &::before {
          content: attr(data-label);
          position: absolute;
          left: 0;
          width: 50%;
          padding-left: 1.5rem;
          font-size: 1.5rem;
          font-weight: bold;
          text-align: left;
        }
      }
    }
  }
}
