@import "../variables.scss";

.story_chart {
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  box-shadow: 0 0 0.3rem #b4b4b4;
  @include row();
  @include top();

  .chart_container {
    @include col_2(60%);
    padding-bottom: 2rem;
  }

  .indicators_table {
    padding: 0 2rem;
    color:#8B8B8B;
    @include col_1(30%);
    table {
      width:100%;
      tr {
        @include row();
        width:100%;
        border: 0.1rem #dfdcdc solid;
        .date{
          width:100%;
          text-align: center;
        }
        th{
          width:50%;
          padding: 0.2rem;

        }
        td {
          width:50%;
          padding: 0.2rem;
          text-align: right;

        }
      }
    }
  }
}
