@import "../variables.scss";

.strategy{
  padding:2rem;
  height:30rem;
  background-color:#fff;
  border-radius:0.5rem;
  box-shadow: 0 0 0.3rem #b4b4b4;
  .content {
    margin-top: 1rem;
    textarea {
      cursor: pointer;
      resize: none;
      height: 20rem;
      width: 100%;
    }
  }
  .button {
    @include row();
    @include center();
    span {
      @include place_center();
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      width: 30%;
      height: 3rem;
      border-radius: 2rem;
      background-color: #ee6272;
      box-shadow: 0 0 0.3rem #b4b4b4;
    }
  }
}
