@import "../variables.scss";

.strategy{
  margin:2.5rem 2.5rem 2.5rem 1rem;
  padding:2rem;
  height:30rem;
  background-color:#fff;
  border-radius:1rem;
  box-shadow: 0 0 0.3rem #b4b4b4;
  .content{
    margin-top:1rem;
  }
}
