@import '../variables.scss';

.strategy {
  padding: 2rem;
  height: 25rem;
  background-color: #fff;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.3rem #b4b4b4;
  section {
    height: 100%;
    .title {
      color: rgb(119, 117, 117);
    }
    .content {
      height: 70%;
      margin-top: 1rem;
      textarea {
        cursor: pointer;
        resize: none;
        height: 100%;
        width: 100%;
      }
    }
    .button {
      @include row(center, center);
      cursor: pointer;
      span {
        @include place_center();
        padding: 0.5rem;
        color: #fff;
        font-size: 2rem;
        font-weight: bold;
        width: 50%;
        border-radius: 0.5rem;
        background-color: #ee6272;
        box-shadow: 0 0 0.1rem #b4b4b4;
      }
    }
  }
}
