@import '../variables.scss';
.trade_history {
  padding: 3rem 5rem;

  h3 {
    padding-bottom:1rem;
  }

  .table_container {
    table {
      font-size: 1.5rem;
      width: 100%;
      border-collapse: collapse;
      th,
      td {
        padding: 0.2rem 0.3rem;
        border: 0.1rem solid #ddd;
        text-align: center;
      }
      th {
        background-color: #8b8b8b;
        color: #fff;
      }
      tbody {
        tr {
          background-color: #fff;
          cursor: pointer;
          transition: 0.1s;
          &:hover {
            border: 0.2rem double rgb(245, 187, 111);
          }

          td {
            input {
              cursor: pointer;
              max-width: 5rem;
              padding: 0;
              margin: 0;
              background-color: transparent;
            }
          }
        }
      }
    }

    .pagination_bttns {
      @include row(center, center);
      margin: 2rem 0;
      a {
        padding: 0.1rem 1rem;
        margin: 0.8rem;
        border-radius: 0.2rem;
        border: 0.1rem solid #8b8b8b;
        color: #8b8b8b;
        cursor: pointer;

        &:hover {
          color: white;
          background-color: #8b8b8b;
        }
      }
    }
    .pagination_active {
      a {
        color: white;
        background-color: #8b8b8b;
      }
    }

    .pagination_disabled {
      a {
        display: none;
      }
    }
  }
}
